@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial;
}

footer, header {
    display: flex;
    background-color: rgb(30,30,30);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vh;
    padding: 1vh 0;
}

header {
    padding: 1.5vh 0;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.github-icon {
    width: 2vh;
    background-color: white;
    border-radius: 50%;
    border: 0.1vh solid white;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    text-align: center;
    width: 450px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 50px 50px 50px;
    margin: 50px 0 0;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 10px 0 rgb(40,40,40);
}

.display-screen {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    background-color: rgb(109, 116, 106);
    margin-bottom: 20px;
    height: 100px;
    border-radius: 5px;
    font-size: 40px;
    padding: 5px;
    word-break:keep-all;
    /*white-space: nowrap;*/
}

.display-screen-expression {
    flex: 1 1 0;
    align-self: flex-start;
}

.display-screen-result {
    flex: 1 1 0;
    align-self: flex-end;
    justify-self: flex-end;
    color: rgb(60,60,70);
    font-size: 30px;
}

.calculator-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator-buttons button {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(115, 115, 115);
    color: rgb(220,220,220);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 0 rgb(80,80,80);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.calculator-buttons button:hover {
    background-color: rgb(165, 165, 165);
}

.calculator-buttons button:active {
    box-shadow: 0 0 0;
    transform: translateY(5px);
}

.span-2 {
    grid-column: span 2;
}

button.orange {
    background-color: rgb(177, 115, 0);
    box-shadow: 0 5px 0 rgb(137, 95, 0);
}

.pressed {
    box-shadow: 0 0 0 rgb(80,80,80) !important;
    transform: translateY(5px);
}

/* Slider */
.realtime-switch {
    width:100%;
    display:flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    margin: 0 0 10px;
}

.switch-label {
    color: rgb(220,220,220);
    /*background-color: rgb(155,155,155);
    box-shadow: 0 2px 0 rgb(100,100,100);
    padding: 3px 10px;
    border-radius: 5px;*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  /*margin-right: 10px;*/
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(115, 115, 115);
  box-shadow: 0 -2px 0 rgb(80,80,80);
  border-radius: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 87%;
  width: 45%;
  left: 5%;
  bottom: 10%;
  border-radius: 15px;
  box-shadow: 0 2px 0 rgb(115,115,115);
  background-color: rgb(200,200,200);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(109, 116, 106);
}


input:checked + .slider:before {
  transform: translateX(100%);
}
