* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
}

footer, header {
    display: flex;
    background-color: rgb(30,30,30);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vh;
    padding: 1vh 0;
}

header {
    padding: 1.5vh 0;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.github-icon {
    width: 1.5vw;
    background-color: white;
    border-radius: 50%;
    border: 0.1vw solid white;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(61, 61, 61);
    text-align: center;
    width: 450px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    margin: 50px 0 0;
    border-radius: 10px;
    border: 3px solid rgb(100,100,100);
}

.display-screen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    text-align: right;
    background-color: rgb(109, 116, 106);
    margin-bottom: 20px;
    height: 100px;
    border-radius: 5px;
    font-size: 40px;
    padding: 5px;
    /*word-break: break-all;*/
}

.display-screen-expression {
    flex: 1 1 auto;
    align-self: flex-start;
}

.display-screen-result {
    flex: 1 1 auto;
    justify-self: flex-end;
    color: rgb(60,60,60);
    font-size: 30px;
}

.calculator-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator-buttons button {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(155, 155, 155);
    border-radius: 5px;
    /*box-shadow: 10px 10px 20px;*/
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator-buttons button:hover {
    background-color: rgb(195, 195, 195);
}

.span-2 {
    grid-column: span 2;
}

button.orange {
    background-color: rgb(177, 115, 0);
}